.App {
  height: 100%;
  overflow: auto;
  display: flex;
}

.nav {
  height: 100%;
  border-right: 1px solid #000;
  overflow-y: auto;
}

.nav ul {
  padding: 10px;
  margin: 0;
  list-style: none;
}

.nav .link {
  color: #000;
  text-decoration: none;
}

.body {
  padding: 10px;
}